<%= render "form" %>
<%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= f.text_area :content, placeholder:"New Comment....", class:"form-control" %><br>
        <div class="actions">
            <%= f.submit class:"btn btn-primary"%>
        </div><br>
      <% end %>


  </div>
</div>